<h2>What would you like to name your players?</h2>
<form action="/names" method="post">
  <label for="name">Player One:</label>
  <input type="text" name="player_one">
  <label for="name">Player Two:</label>
  <input type="text" name="player_two">
  <br>
  <input type="submit" value="Submit Names">
</form>